html {
  scroll-behavior: smooth;
}
body {
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  background: #f8f9fa;
}
.p {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-transform: lowercase;
}
a {
  color: #00b5dd;
}
a:hover {
  color: #00758F;
  text-decoration: none;
}
h1 {
  font-family: 'Space Mono', monospace;
  font-size: 3em;
  font-style: italic;
  font-weight: 700;
  margin-top: auto;
  margin-bottom: auto;
}
h2 {
  font-family: 'Space Mono', monospace;
  font-size: 1.8em;
  font-weight: 700;
  margin-top: auto;
  margin-bottom: auto;
}
h3, .h3 {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-style: normal;
}
h5 {
  font-size: 4.5em;
  padding-bottom: 10px;
  font-family: 'Space Mono', monospace;
  font-style: italic;
  font-weight: 700;
  margin-top: auto;
  margin-bottom: auto;
}
.title-bar {
  height: 70px;
  border-bottom: 1px solid #dee2e6;
  background: white;
  box-shadow: 1px 0px 6px rgba(1,1,1,0.1);
}
.footer {
  height: 85px;
  border-top: 1px solid #dee2e6;
  background: white;
}
.content {
  height: calc(100vh - 155px);
  overflow: hidden;
}
.back {
  padding: 10px 15px 10px 15px;
  background: #00b5dd;
  color: white;
  font-weight: 700;
  box-shadow: 2px 2px 6px rgba(1,1,1,0.3);
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}
.back:hover {
  background: white;
  color: #00b5dd;
}
.name-icon {
  position: absolute;
  left: -30px;
  top: -75px;
  transform: rotate(9deg);
}
.asterisk {
  color: #ffc107;
  font-size: 9.5em;
}
.fullstop {
  color: #00b5dd;
  font-weight: 700;
}
.embed-frame {
  box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
  padding: 15px;
  background: white;
}
.embed-container { 
  position: relative; 
  padding-bottom: 56.25%; 
  height: 0; 
  overflow: hidden; 
  max-width: 100%; 
}
.embed-container-vertical { 
  position: relative; 
  padding-bottom: 177.78%; 
  height: 0; 
  overflow: hidden; 
  max-width: 100%; 
}
.embed-container iframe, .embed-container object, .embed-container embed { 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
}
.embed-container-vertical iframe, .embed-container-vertical object, .embed-container-vertical embed { 
  position: absolute; top: 0; left: 0; bottom: 0; width: 100%; height: 100%; border: 0;
}
.title-icon {
  font-size: 5em;
  color: #00b5dd;
}
.carousel-item img {
  width: 100%;
  height: 100%;
}
.tweet-frame {
  max-height: 100%;
  padding: 15px;
  overflow: scroll;
}
.twitter-tweet {
  width: 50% !important;
  float: left;
  padding: 0 5px;
}
#tweets {
  height: 100%;
  overflow: scroll;
  background: white;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
  padding: 5px 10px;
  border-radius: 15px;
}
.css-901oao.r-hkyrab.r-1dqbpge.r-1qd0xha.r-1b6yd1w.r-16dba41.r-ad9z0x.r-bcqeeo.r-bnwqim.r-qvutc0 {
  font-size: 0.7em;
}
.carousel-indicators li {
  opacity: 0;
}
.carousel-indicators .active {
  opacity: 0;
}
#artsed-images, #artsed-graphic {
  padding: 15px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
  background: white;
}
.mailchimp-right { 
  padding-top: 15px;
}
.iphone {
  margin: auto;
}
.iphone-shape {
  max-width: 280px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(2px 2px 10px rgba(0,0,0,0.3));
}
.newsletter-container {
  margin: auto;
  z-index: 1;
}
.newsletter {
  max-width: 238px;
  height: 388px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45.5%);
  border: 0px solid rgba(0,0,0,0);
  border-radius: 0 0 3px 3px;
}
.mail-top {
  border-radius: 6px 6px 0 0;
  border: 1px solid rgba(1, 1, 1, 0.2);
  box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}
.email-newsletter {
  border: none;
  width: 100%;
  height: calc(100% - 64px);
  border: 1px solid rgba(1, 1, 1, 0.2);
  border-radius: 0 0 6px 6px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}
.post-container {
  position: relative;
  margin-top: 100px;
  padding-bottom: calc(100vh - 255px);
  height: 0;
  overflow: hidden;
}
.post-iframe {
  position: absolute;
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
}
.fb-post.fb_iframe_widget { 
  box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}
.thank-you {
  padding: 30px 0;
  border-radius: 12px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.4);
  margin: 0 15px;
  background: white;
}
.map-pin {
  color: #6f42c1;
  display: inline-block;
  font-size: 8.5em;
  margin-top: -27px;
  margin-bottom: -26px;
}
.nav-icon {
  font-size:4em;
  line-height:0;
}
@media (max-width: 576px) { 
  h1 { font-size: 2.2em; }
  h2 { font-size: 1.3em; }
  h3 { font-size: 1.2em; margin: 0 0 20px; }
  h4 { font-size: 1.2em }
  h5 { font-size: 3em }
  p, .p {font-size: 0.88em; margin-bottom: 0; margin-top: 15px; }
  .embed-frame { box-shadow: 0 0 0; padding: 0; margin-bottom: 15px; }
  .nav-icon { font-size: 3em; }
  .title-bar { height: 60px; box-shadow: 0 0 0; }
  .footer { height: 65px; }
  .content { height: calc(100vh - 125px); }
  #artsed-images, #artsed-graphic { box-shadow: 0 0 0; padding: 0; }
  .name-icon { left: -33px; top: -59px; transform: rotate(21deg); }
  .asterisk { font-size: 7.5em }
  .back { padding: 0; background: white; color: #00b5dd; box-shadow: 0 0 0; transition: none; }
  .title-icon { font-size: 3em; }
  .center-nav { display: none; }
  .small-media { padding: 0 }
  .mailchimp-left { display: none; }
  .mailchimp-right { padding: 0; }
  .iphone { display: none; }
  .mail-top { display: none; }
  .email-newsletter { border: none; height: 100%; border-radius: 0; box-shadow: 0 0 0; }
  .tweet-cy { display: none; }
  .tweet-frame { padding: 0 }
  #tweets { box-shadow: 0 0 0; padding: 5px 15px; border-radius: 0px; }
  .fb-card { padding: 0; }
  .fb-post.fb_iframe_widget { box-shadow: 0 0 0; }
  .fb-cy { display: none; }
  .thank-you-main { padding: 0; height: 100%; }
  .thank-you { padding: 0; border-radius: 0; box-shadow: 0 0 0; margin: 0; height: 100%; background: rgba(255,255,255,0.7); }
  .thank-you-side { display: none; }
  .map-pin { font-size: 5em; margin-top: 30px; margin-bottom: 0; }
} 