$white: hsl(0,0%,100%);
$dark: hsl(238,24%,23%);
$purple: hsl(238,24%,36%);
$pink: hsl(300,100%,84%);
$blue: hsl(180,100%,84%);

$green: hsla(120,100%,50%,0.5);
$red: hsla(0,100%,50%,0.5);
$cyan: hsla(180,100%,50%,0.5);
