.header {
  height: 100vh;
}

.container {
  height: 94%;
}

.asterisk {
  width: 30rem;
  position: absolute;
  left: -5rem;
  top: -6rem;
}

.intro {
  line-height: 0;
  font-family: 'Gt Pressura', monospace;
  font-size: 1.6rem;
  color: var(--grey-850);
}

.logo {
  font-family: 'Space Mono', monospace;
  font-size: 7rem;
  color: #00B5DD;
  font-weight: 700;
  line-height: 1.2;
  font-style: italic;
}

.subheading {
  font-family: 'Gt Pressura', serif;
  font-size: 1.8rem;
}

.nav {
  margin-top: 0.7rem;
  margin-right: 2rem;
  font-family: 'Gt pressura Mono', monospace;
  font-size: 1.6rem;
  display: grid;
  justify-content: end;
  a {
    color: var(--grey-750);
    text-decoration: none;
    &:hover {
      color: #00B5DD;
    }
  }
}

.btn {
  font-family: 'Gt Pressura', serif;
  padding: 1rem 1.5rem;
  font-size: 1.4rem;
  background-color: transparent;
  border: 2px solid #00B5DD;
  color: #00B5DD;
  margin-top: 3rem;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: background-color 0.2s ease-out;
  &:hover {
    background-color: hsl(191, 63%, 93%);
  }
}

.btnResume {
  padding: 0.7rem 1.5rem;
  margin-top: unset;
}

.navList {
  font-family: 'Gt Pressura', serif;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  li {
    line-height: 2.3;
    padding-block: 0.7rem;
    font-size: 1.4rem;
  }
}

.number {
  font-family: 'Gt pressura Mono', monospace;
  font-size: 1.2rem;
}

.email,
.links {
  font-family: 'Gt pressura Mono', monospace;
  position: fixed;
  transform: rotate(90deg);
  font-size: 1.3rem;
  &::after {
    position: absolute;
    display: block;
    content: '';
    font-size: 1.2rem;
    width: 13rem;
    height: 0.15rem;
    background-color: #00B5DD;
    bottom: 0.5rem;
  }
  a {
    color: #00B5DD;
    text-decoration: none;
    &:hover {
      color: #00B5DD;
    }
  }
}

.email {
  bottom: 12rem;
  right: -2rem;
  &::after {
    left: 14rem;
  }
}

.links {
  bottom: 11rem;
  left: 0.8rem;
  &::after {
    left: 11rem;
  }
}

.socialLinks {
  display: flex;
  flex-direction: row;
  gap: 0 1.8rem;
  li {
    font-size: 1.4rem;
    &:hover {
      color: #00B5DD;
    }
  }
}

.icon {
  width: 1.7rem;
  transform: rotate(-90deg);
}

.dot {
  color: #EA3546;
}

.sectionHeading {
  font-family: 'Gt Pressura', serif;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.about {
  width: 700px;
  margin-bottom: 7rem;
  margin-inline: auto;
}

.skillsList {
  width: 500px;
  margin-top: 1.7rem;
  font-family: 'Gt pressura Mono', monospace;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-wrap: wrap;
  gap: 0.9rem;
  color: var(--grey-650);
  position: relative;
  li {
    position: relative;
    font-size: 1.2rem;
    margin-left: 2rem;
    &::before {
      content: "▹";
      position: absolute;
      left: -2rem;
      color: #00B5DD;
      line-height: 0.7;
      font-size: 1.7rem;
    }
  }
}

.contact {
  width: 700px;
  text-align: center;
  margin-bottom: 15rem;
  margin-inline: auto;
  h3 {
    font-family: 'Gt Pressura', serif;
    font-size: 4rem;
    line-height: 0.4;
    margin-bottom: 3rem;
    font-weight: 700;
  }
}

.work {
  h2 {
    margin-bottom: 4rem;
  }
}

.project {
  display: grid;
  grid-template-columns: 1fr 1.1fr;
  margin-bottom: 9rem;
}

.featured {
  font-family: 'Gt Pressura Mono', monospace;
  color: #00B5DD;
  font-size: 1.1rem;
  margin: unset;
  margin-bottom: 0.6rem;
}

.projectTitle {
  font-family: 'Gt Pressura Mono', serif;
  font-weight: 700;
  font-size: 1.6rem;
  margin-bottom: 1.1rem;
}


.body {
  background-color: #C6EAF2;
  font-size: 1.2rem;
  padding: 2rem 3rem 2rem 2rem;
  color: var(--grey-850);
  margin-bottom: 0;
}

.stack {
  font-family: 'Gt Pressura Mono', monospace;
  display: flex;
  gap: 1.5rem;
  color: var(--grey-600);
}

.screenshot {
  position: relative;
  aspect-ratio: 5/3;
  & > span {
    position: absolute;
    left: -1rem;
    border: 1px solid #00B5DD !important;
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 1rem 1rem #00B5DD;
  }
}

.workLinks {
  display: flex;
  flex-direction: row;
  margin-top: 1.3rem;
  gap: 0.9rem;
}

.workIcon {
  width: 1.7rem;
  color: #00B5DD;
}

// .under {
//   width: 100%;
//   height: 100%;
//   background-color: #00B5DD;
//   position: absolute;
//   top: 0.75rem;
//   left: 1rem;
// }

.reverse {
  text-align: right;
  grid-template-columns: 1.1fr 1fr;
  .body {
    padding: 2rem 2rem 2rem 3rem;
  }
  .stack,
  .workLinks {
    justify-content: end;
  }
  div:first-child {
    grid-column: 2;
    grid-row: 1;
  }
  .under {
    top: 0.75rem;
    left: -1rem;
  }
  .screenshot {
    & > span {
      left: 1rem;
      box-shadow: -1rem 1rem #00B5DD;
    }
  }
}

.footerIconContainer {
  display: grid;
  text-align: center;
  justify-content: center;
  width: 3rem;
  margin: auto;
}

.footerIcon {
  color: var(--grey-600);
}
