.header {
  height: 100vh;
}

.container {
  height: 94%;
}

.asterisk {
  width: 30rem;
  position: absolute;
  left: -5rem;
  top: -6rem;
}

.intro {
  line-height: 2;
  font-family: 'Gt Pressura', monospace;
  font-size: 1.6rem;
}

.logo {
  font-family: 'Space Mono', monospace;
  font-size: 7rem;
  color: #00B5DD;
  font-weight: 700;
  line-height: 1.2;
  font-style: italic;
}

.subheading {
  font-family: 'Gt Pressura', serif;
  // font-weight: 700;
  // text-align: right;
  // text-transform: uppercase;
  font-size: 1.8rem;
}

.nav {
  margin-top: 0.7rem;
  margin-right: 2rem;
  font-family: 'Gt pressura Mono', monospace;
  font-size: 1.6rem;
  display: grid;
  justify-content: end;
  a {
    color: var(--grey-750);
    text-decoration: none;
    &:hover {
      color: #00B5DD;
    }
  }
}

.btn {
  font-family: 'Gt Pressura', serif;
  padding: 1rem 1.5rem;
  font-size: 1.4rem;
  background-color: transparent;
  border: 2px solid #00B5DD;
  color: #00B5DD;
  margin-top: 3rem;
  border-radius: 0.3rem;
}

.btnResume {
  font-family: 'Gt Pressura', serif;
  padding: 0.7rem 1.5rem;
  font-size: 1.4rem;
  background-color: transparent;
  border: 2px solid #00B5DD;
  color: #00B5DD;
  border-radius: 0.3rem;
}

.navList {
  font-family: 'Gt Pressura', serif;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  li {
    line-height: 2.3;
    padding-block: 0.7rem;
    font-size: 1.4rem;
  }
}

.number {
  font-family: 'Gt pressura Mono', monospace;
  font-size: 1.2rem;
}
