.header {
  height: 100vh;
}

.container {
  height: 94%;
}

.asterisk {
  width: 30rem;
  position: absolute;
  left: -5rem;
  top: -6rem;
}

.intro {
  line-height: 0;
  font-family: 'Gt Pressura', monospace;
  font-size: 1.6rem;
  color: var(--grey-850);
}

.logo {
  font-family: 'Space Mono', monospace;
  font-size: 7rem;
  color: #00B5DD;
  font-weight: 700;
  line-height: 1.2;
  font-style: italic;
}

.subheading {
  font-family: 'Gt Pressura', serif;
  // font-weight: 700;
  // text-align: right;
  // text-transform: uppercase;
  font-size: 1.8rem;
}

.nav {
  margin-top: 0.7rem;
  margin-right: 2rem;
  font-family: 'Gt pressura Mono', monospace;
  font-size: 1.6rem;
  display: grid;
  justify-content: end;
  a {
    color: var(--grey-750);
    text-decoration: none;
    &:hover {
      color: #00B5DD;
    }
  }
}

.btn {
  font-family: 'Gt Pressura', serif;
  padding: 1rem 1.5rem;
  font-size: 1.4rem;
  background-color: transparent;
  border: 2px solid #00B5DD;
  color: #00B5DD;
  margin-top: 3rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

.btnResume {
  font-family: 'Gt Pressura', serif;
  padding: 0.7rem 1.5rem;
  font-size: 1.4rem;
  background-color: transparent;
  border: 2px solid #00B5DD;
  color: #00B5DD;
  border-radius: 0.3rem;
  cursor: pointer;
}

.navList {
  font-family: 'Gt Pressura', serif;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  li {
    line-height: 2.3;
    padding-block: 0.7rem;
    font-size: 1.4rem;
  }
}

.number {
  font-family: 'Gt pressura Mono', monospace;
  font-size: 1.2rem;
}

.email {
  font-family: 'Gt pressura Mono', monospace;
  position: fixed;
  bottom: 12rem;
  right: -2rem;
  transform: rotate(90deg);
  font-size: 1.3rem;
  &::after {
    position: absolute;
    display: block;
    content: '';
    font-size: 1.2rem;
    width: 13rem;
    height: 0.15rem;
    background-color: #00B5DD;
    bottom: 0.5rem;
    left: 14rem;
  }
  a {
    color: #00B5DD;
    text-decoration: none;
    &:hover {
      color: #00B5DD;
    }
  }
}

.links {
  font-family: 'Gt pressura Mono', monospace;
  position: fixed;
  bottom: 11rem;
  left: 0.8rem;
  transform: rotate(90deg);
  font-size: 1.3rem;
  &::after {
    position: absolute;
    display: block;
    content: '';
    font-size: 1.2rem;
    width: 13rem;
    height: 0.15rem;
    background-color: #00B5DD;
    bottom: 0.5rem;
    left: 11rem;
  }
  a {
    color: #00B5DD;
    text-decoration: none;
    &:hover {
      color: #00B5DD;
    }
  }
}

.icon {
  width: 1.7rem;
  transform: rotate(-90deg);
}

.dot {
  // color: var(--grey-750);
  color: #EA3546;
}

.socialLinks {
  display: flex;
  flex-direction: row;
  gap: 0 1.8rem;
  li {
    font-size: 1.4rem;
    &:hover {
      color: #00B5DD;
    }
  }
}

.sectionHeading {
  font-family: 'Gt Pressura', serif;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.about {
  width: 700px;
  margin-bottom: 7rem;
  margin-inline: auto;
}

.skillsList {
  width: 500px;
  margin-top: 1.7rem;
  font-family: 'Gt pressura Mono', monospace;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-wrap: wrap;
  gap: 0.9rem;
  color: var(--grey-650);
  position: relative;
  li {
    position: relative;
    font-size: 1.2rem;
    margin-left: 2rem;
    &::before {
      content: "▹";
      position: absolute;
      left: -2rem;
      color: #00B5DD;
      line-height: 0.7;
      font-size: 1.7rem;
    }
  }
}

.contact {
  width: 700px;
  text-align: center;
  margin-bottom: 15rem;
  margin-inline: auto;
  h3 {
    font-family: 'Gt Pressura', serif;
    font-size: 4rem;
    line-height: 0.4;
    margin-bottom: 3rem;
    font-weight: 700;
  }
}

