@use 'breakpoints' as b;

* {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Apercu Pro', sans-serif;
  color: var(--grey-850);
  overflow-x: hidden;
}

nav {
  font-family: 'Gt Pressura Mono', monospace;
  font-size: 1.6rem;
}

