---
import { Code } from "astro/components"
import { Client } from "@notionhq/client"
import { groq } from "../lib/utils"
import { format } from "date-fns"
import Layout from "../layouts/Layout.astro"
import { Post } from "../lib/interfaces"

const notion = new Client({ auth: import.meta.env.NOTION_TOKEN })
const databaseId = import.meta.env.NOTION_DATABASE_ID

const query = await groq`{
  "posts": *[] | order(properties.publishedAt.date.start desc){
    "_id": id,
    "author": properties.authors.relation[].id,
    "excerpt": properties.excerpt.rich_text,
    "published": properties.publishedAt.date.start,
    "slug": properties.slug.rich_text[0].plain_text,
    "status": properties.status.select.name,
    "tags": properties.tags.multi_select[].name,
    "title": properties.body.title[].plain_text
  }
}`

const getProps = async () => {
  const payload: any = {
    path: `databases/${databaseId}/query`,
    method: "POST"
  }

  const { results } = await notion.request(payload)
  return query(results)
}

const response = await getProps()
const { posts } = response as { posts: Post[] }
const json = JSON.stringify(posts, undefined, 2)
---
<Layout title="Welcome Home.">
  <main>
    <Code code={json} lang="json" theme="dracula" wrap />
  </main>
</Layout>
