---
import Layout from "../layouts/Layout.astro"
import { groq } from "../lib/utils"

const query = await groq`*[_type == "user"]{ name }`

let dataset = [
  {_type: 'user', name: 'Michael'},
  {_type: 'company', name: 'Bluth Company'}
]

const response = await query(dataset)

console.log(response)
---

<Layout title="Welcome Home.">
  <main>
    <pre>{JSON.stringify(response, undefined, 2)}</pre>
  </main>
</Layout>
