@use 'scss/normalize';
@use 'scss/typography' as t;
@use 'scss/colors' as c;
@use 'scss/breakpoints' as b;

* {
  box-sizing: border-box;
  margin: 0;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: calc(100vh - 12em);
  overflow: hidden;
  font-family: t.$sans;
  color: c.$blue;
  background: c.$purple;
}
