
@use 'scss/normalize';
@use 'scss/typography' as t;
@use "scss/colors" as c;
@use "scss/breakpoints" as b;

* {
  margin: 0;
  box-sizing: border-box;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: t.$sans;
  color: c.$blue;
  background: c.$purple;
  overflow: hidden;
}
