---
import Asterisk from "components/Asterisk.astro"
---
<header class="header">
  <h1 class="header__title">
    Hi<span class="header__punctuation">!</span>
    I&apos;m Matt<span class="header__punctuation">.</span>
  </h1>
  <Asterisk />
</header>

<style lang="scss">
  @use '../styles/foundation/breakpoints' as b;

  .header {
    position: relative;
    height: 12em;
    font-size: 0.695vw;
    background: var(--dark);
    &__title {
      position: absolute;
      padding: 0.67em 0 0 0.51em;
      font-family: var(--mono);
      font-size: 9.6em;
      font-style: italic;
      font-weight: 700;
      line-height: 0;
      color: var(--blue);
      transform: translateY(-0.5rem) rotate(-4.5deg);
    }
    &__punctuation {
      color: var(--pink);
    }
  }
</style>
