---
import Angular from "components/Angular.astro"
import Javascript from "components/Javascript.astro"
import Node from "components/Node.astro"
import React from "components/React.astro"
import Sass from "components/Sass.astro"
import Vuejs from "components/Vuejs.astro"
---

<div class="logos">
  <Javascript />
  <Node />
  <Sass />
  <Vuejs />
  <React />
  <Angular />
</div>

<style>
  .logos {
    position: absolute;
    top: 27.5em;
    right: 8em;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.695vw;
    transform: rotate(4.5deg);
  }
</style>
